<div class="jumbotron">
	<h1>Sign in</h1>
	<p>We're using GitHub auth for our code challenge. Please sign in below with your GitHub credentials.</p>
	<p>
		<a href="/auth/github" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with GitHub</a>
	</p>
</div>

